<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- This is to make bridged java.util.logging calls performant -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="standard" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{MMM-d-yyyy h:mm:ss.SSS a z, US/Eastern} [%thread] %-5level %logger{0}:%line [%X{CURRENT_CONTEXT}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.soklet.example" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="standard" />
	</root>
</configuration>