<?xml version="1.0" encoding="UTF-8"?>
<configuration statusListenerClass="ch.qos.logback.core.status.NopStatusListener">
	<!-- This is to make bridged java.util.logging calls performant -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- Redact sensitive data (e.g. JWTs) from log messages -->
	<conversionRule conversionWord="msg" class="com.soklet.toystore.util.LoggingRedactor"/>

	<appender name="standard" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{MMM-d-yyyy h:mm:ss.SSS a z, US/Eastern} [%thread] %-5level %logger{0}:%line [%X{CURRENT_CONTEXT}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.soklet.toystore" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="standard" />
	</root>
</configuration>